<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/collection.css">
<title>Digital Passport - Collection</title>

<%- include('./partials/navbar') %>

<div id="collection-area">
    <h1 id="subtitle">Revisit your favorite places</h1>
    <div id="posts-area">
        <% for (let i = posts.length - 1; i >= 0; i--) { %>
            <a href=<%= `/posts/${posts[i]._id}` %> class="post" id=<%= posts[i]._id %> > 
                <img class="post-img" src=<%= `data:${posts[i].img.contentType};base64,${posts[i].img.imgData}` %> > 
                <div class="overlay"></div>
            </a>
        <% } %>
    </div>
</div>

<script src="/js/postSelection.js"></script>

<%- include('./partials/footer') %>