<%- include('./partials/header') %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/collection.css">

<%- include('./partials/navbar') %>

<div id="collection-area">
    <h1 id="subtitle">Your Collection</h1>
    <div id="posts-area">
        <% if (posts.length > 0) { %>
            <% for (let i = posts.length - 1; i >= 0; i--) { %>
                <a href=<%= `/posts/${posts[i]._id}` %> class="post" id=<%= `${posts[i]._id}` %> > 
                    <img class="post-img" src=<%= `data:${posts[i].img.contentType};base64,${posts[i].img.imgData}` %> > 
                    <div class="overlay"></div>
                </a>
            <% } %>
        <% } else { %>
            <h2 id="no-posts">You do not have any posts in your collection.<br>Click <a href="/map">here</a> to explore and save posts.</h2>
        <% } %>
    </div>
</div>

<script src="/js/postRedirect.js"></script>

<%- include('./partials/footer') %>