<%- include('./partials/header') %>

<title>Digital Passport - Posts Selection</title>
<link rel="stylesheet" href="stylesheets/postSelection.css">

<%- include('./partials/navbar') %>

<div id="posts-area">
    <% for (let i = posts.length - 1; i >= 0; i--) { %>
        <a href=<%= `/posts/${posts[i]._id}` %> class="post" id=<%= `${posts[i]._id}` %>> <img src=<%= `data:${posts[i].img.contentType};base64,${posts[i].img.imgData}` %> > </a>
    <% } %>
</div>

<script src="/js/postRedirect.js"></script>

<%- include('./partials/footer') %>
