<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/posts.css">
<title>Digital Passport - Post</title>

<%- include('./partials/navbar') %>

<div class="post-div">
    <div class="post-flex">
        <div class="post-header">
            <a class="post-user" href=<%= `/users/${post.user}` %>><span><%= post.user %></span></a>

            <h4 class="location-text"><u>Location</u></h4>
            <% if (post.location.city !== 'undefined') { %> 
                <h4 class="location-text">City: <%= post.location.city %></h4>
            <% } %>
            <% if (post.location.state !== 'undefined') { %>
                <h4 class="location-text">State: <%= post.location.state %></h4>
            <% } %>
            <% if (post.location.country !== 'undefined') { %>
                <h4 class="location-text">Country: <%= post.location.country %></h4>
            <% } %>
            <h5 class="post-timestamp"><%= `${post.date.month} ${post.date.day}, ${post.date.year}` %></h4>
        </div>
        <div class="post-inner">
            <div class="post-coverimg">
                <img id="post-img" src=<%= `data:${post.img.contentType};base64,${post.img.imgData}` %> >
                <div class="expand"><h1 id="expandText">Expand ∨</h1></div>
            </div>
            <div class="post-content">
                <p id="post-caption"><%= post.caption %></p>
            </div>
        </div>
    </div>
    <div class="post-function">
        <% if (account.id > 0 && account.username !== post.user) { %>
            <% if (user.savedPosts.includes(post._id)) { %>
                <form class="collection-form" method="POST" action=<%=`/users/${account.username}/savedPosts/${post._id}/remove`%>>
                    <input type="submit" class="btn" value="Remove from Collection">
                </form>
            <% } else { %>
                <form class="collection-form" method="POST" action=<%=`/users/${account.username}/savedPosts/${post._id}/add`%>>
                    <input type="submit" class="btn" value="Save to Collection">
                </form>
            <% } %>
        <% } %>
        <button class="btn" onclick="toggleComments()" id="comments-btn">Show Comments</button>
        <% if (account.username === post.user) { %>
            <form method="POST" action=<%= `/posts/${post._id}/delete` %>>
                <input type="submit" class="btn" id="redBtn" value="Delete">
            </form>
        <% } %>
    </div>
</div>
<div class="reply">
    <% if (account.username) { %>
        <form id="reply-form" method="POST" action=<%= `/posts/${post._id}/comment` %>>
            <label for="commentText">Post a<br>comment</label>
            <textarea name="commentText" id="replyField" cols="25" rows="4"></textarea>
            <input type="hidden" name="user" value=<%= account.username %>>
            <input class="reply-content" type="submit" name="reply" id="replyBtn" value="Post Comment">
        </form>
    <% } %>
    <div id="comments-area">
        <% if (post.comments.length > 0) { %>
            <% for (let i = post.comments.length - 1; i >= 0; i--) { %>
                <div class="comment">
                    <p id="comment-text"><%= post.comments[i].commentText %></p>
                    <p id="comment-user">&mdash; <%= post.comments[i].user %></p>
                </div>
            <% } %>
        <% } else { %>
            <h4 id="no-comments-text">There are no comments for this post.</h4>
        <% } %>
    </div>
</div>

<script src="/js/expandImg.js"></script>
<script src="/js/toggleComments.js"></script>
<script src="/js/collectionToggle.js"></script>

<%- include('./partials/footer') %>