<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/posts.css">

    <title>Digital Passport - Post</title>
</head>

<body>
    <nav>
        <div id="logo-space">

        </div>
        <div id="company">
            <h1>Digital Passport</h1>
        </div>
        <div id="links">
            <a href="/map"><h3>Map</h3></a>
            <% if (account.id > 0) { %>
                <a href="/collection"><h3>Collection</h3></a>
                <a href=<%= `/profile/${account.username}` %>><h3>Profile</h3></a>
                <a href="/logout"><h3>Log Out</h3></a>
            <% } else { %>
                <a href="/login"><h3>Log In</h3></a>
            <% } %>
        </div>
    </nav>

    <div class="post">
        <div class="post-flex">
            <div class="post-header">
                <h3 class="post-title">Test Title is a very good test name</h3>
                <h4 class="post-user"><%= post.user %></h6>
                <h5 class="post-timestamp"><%= `${post.date.month} ${post.date.day}, ${post.date.year}` %></h4>
            </div>
            <div class="post-inner">
                <div class="post-coverimg">
                    <img src=<%= `data:${post.img.contentType};base64,${post.img.imgData}` %> >
                    <div class="expand"><h1 id="expandText">Expand ∨</h1></div>
                </div>
                <div class="post-content">
                    <p><%= post.caption %></p>
                </div>
            </div>
        </div>
        <div class="post-function">
            <% if (account.id > 0) { %>
                <form id="collection-form" method="POST" action='/api/users/savedPosts'>
                    <input type="hidden" name="user" value=<%= account.username %>>
                    <input type="hidden" name="postID" value=<%= post._id %>>
                    <% if (user.savedPosts.includes(post._id)) { %>
                        <input type="hidden" name="updateType" value="remove">
                        <input type="submit" class="btn" value="Remove from Collection">
                    <% } else { %>
                        <input type="hidden" name="updateType" value="add">
                        <input type="submit" class="btn" value="Save to Collection">
                    <% } %>
                </form>
                <button class="btn">Reply</button>
            <% } %>
            <% if (account.username === post.user) { %>
                <form method="POST">
                    <input type="submit" class="btn" id="redBtn" value="Delete">
                </form>
            <% } %>
        </div>
    </div>
    <div class="reply">
        <div class="reply-textbox">
            <form id="reply-form">
                <textarea name="replyField" id="replyField" cols="100" rows="10"></textarea>
                <input class="reply-content" type="submit" name="reply" id="replyBtn" value="Reply">
            </form>
        </div>
    </div>
    <script src="/js/expandImg.js"></script>
    <script src="/js/reply.js"></script>
</body>
</html>