<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Passport - Posts Selection</title>

    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/postSelection.css">
</head>
<body>
    <nav>
        <div id="logo-space">

        </div>
        <div id="company">
            <h1>Digital Passport</h1>
        </div>
        <div id="links">
            <a href="/map"><h3>Map</h3></a>
            <a href="/collection"><h3>Collection</h3></a>
            <a href="/login"><h3>Log In</h3></a>
        </div>
    </nav>

    <div id="posts-area">
        <% for (let j = 0; j < posts.length; j++) { %>
            <a href=<%= `/postSelection?city=${posts[j].city}&state=${posts[j].state}&country=${posts[j].country}&cur=${posts[j].id}`.replace(' ', '%20') %> class="post-link" id=<%= `post${posts[j].id}` %>> <img src=<%= posts[j].src %> > </a>
        <% } %>
    </div>

    <% if (curPost.id !== -1) { %>
        <div id="overlap-post-area">
            <div id="overlap-post">
                <div id="post-body">
                    <img src=<%= curPost.src %> id="post-img" alt="post image">
                    <div class="post-desc">
                        <h2 id="post-loc" class="post-text"><%=curPost.city %>, <%= curPost.state %>, <%= curPost.country %></h2>
                        <p id="caption" class="post-text"><%= curPost.caption %></p>
                        <h4 id="post-user-info" class="post-text">Taken by <i><%= curPost.username %> </i> on <i><%= curPost.date.month %>, <%= curPost.date.day %>, <%= curPost.date.year %></i></h4>
                        <a href="#" id="more-info"><h4 class="post-text">View post info and comments &rarr;</h4></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <footer>
        <h2>&copy; Digital Passport. All rights reserved.</h2>
    </footer>

    <script src="/js/postSelection.js"></script>
</body>
</html>