<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/profile.css">
<title>Digital Passport - <%= user.username %> </title>

<%- include('./partials/navbar') %>

<div id="profile">
    <h1 id="username"><%= `${user.username}'s Posts` %></h1>

    <% if (account.username === user.username) { %>
        <a href=<%= `/users/${account.username}/addPost` %> id="add-post">Add Post</a>
    <% } %>

    <div id="profile-posts">
        <% if (posts.length > 0) { %>
            <% for (let i = posts.length - 1; i >= 0; i--) { %>
                <a href=<%= `/posts/${posts[i]._id}` %> class="post" id=<%= posts[i]._id %> > 
                    <img class="post-img" src=<%= `data:${posts[i].img.contentType};base64,${posts[i].img.imgData}` %> > 
                    <div class="overlay"></div>
                </a>
            <% } %>
        <% } else { %>
            <h2 id="no-posts">No posts yet</h2>
        <% } %>
    </div>
</div>

<script src="/js/postRedirect.js"></script>

<%- include('./partials/footer') %>